body {
  font-family: verdana;
  background-color: #FEE715;
  color: #101820;
}

h1{
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.error {
  background-color: tomato;
  padding: 0.5rem;
  color: cornSilk;
}
