.main-layout{
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
}

.display-card{
    color: black;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 670px;
    min-width: 30%;
    max-width: 30%;
    text-align: center;

}

.review-form{
    input[type=text]{
        width: 33%;
        height: 175px;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

}

.business-form{
    color: green;
    
}

.business-card > img {
    max-width: 45%;
    border-radius: 8px;
  }

  .review-card{
    border: solid darkgoldenrod;
    color: black;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 335px;
    min-width: 30%;
    max-width: 30%;
    text-align: center;

}

.form-layout{
    max-width: 30%;
    margin: auto;
}

.center-content{
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid darkgoldenrod;
    padding: px;
}