.main-layout{
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
}

.display-card{
    color: black;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 670px;
    min-width: 30%;
    max-width: 30%;
    text-align: center;

}



.field{
    width: 45%;
    height: 125px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    overflow: hidden;
    font-family: verdana;
}





.business-card > img {
    max-width: 45%;
    border-radius: 8px;
  }

  .review-card{
    border: solid darkgoldenrod;
    color: black;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 335px;
    min-width: 30%;
    max-width: 30%;
    text-align: center;

}

.form-layout{
    max-width: 30%;
    margin: auto;
}

.center-content{
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid darkgoldenrod;
    z-index: -100;
}

.center-home{
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid darkgoldenrod;
    text-align: center;
    line-height: 2;
    z-index: -100;
}

.center-busform{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: solid darkgoldenrod;
    text-align: center;
    justify-content: center;
    line-height: 2;

    
}
.new-field{
    width: 55%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    overflow: hidden;
}

.new-field-two{
    width: 55%;
    height: 125px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    overflow: hidden;
    font-family: verdana;
}


.form-size{
    width:100%;
}

.button-review{
    width: 15%;
}

.new-button-review{
    width: 15%;
    bottom:0%;
    left:0%;
}